{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 header"><h2>タイトル</h2></div>
        <div class="col-xs-12" style="background-color:#F2F2F2;">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-5" style="background-color:#FFFFFF;">
                    <!-- ここにメイン部分入れていく
                    <p>ボタンを押したらconsoleにハローワールド</p>
                    <input type="button" value="Exec" onclick="ConsoleHello();"/>
                    <p>メタマスクが使えるかコンソールに出力</p>
                    <input type="button" value="Exec" onclick="initMetaMask();"/>
                    <p>メタマスクとの接続</p>
                    <input type="button" value="Exec" onclick="connectMetaMask();"/>
                    <p>ネットワーク確認</p>
                    <input type="button" value="Exec" onclick="checkMetaMaskNetwork();"/>
                    <p>ブロック数確認</p>
                    <input type="button" value="Exec" onclick="getBlockNumber();"/>
                    <p>イーサ送金</p>
                    <input type="button" value="Exec" onclick="soukin();"/> -->
                    <center>
                        <div class="main_contents">
                            <img src="https://2.bp.blogspot.com/-YNJO-zt2MdQ/VEEThTILcRI/AAAAAAAAog4/ohQPYPhNEhk/s800/osoushiki_ohaka.png" width="150px" height="150px"><br>
                            <input type="button" value="きれいにする" class="btn btn-success" onclick="grave_cleaning();">
                        </div>
                    </center>
                </div>
                <div class="col-xs-5" style="background-color:#FFFFFF;">
                    <div class="main_contents">
                        現在の持ちイーサ<p id=walet>0</p>
                        <input id="price" class="form-control" type="number" size="25" placeholder="金額">
                        <input type="button" value="投げ銭する" class="btn btn-success" onclick="なげせんするめそっど();">
                    </div>
                </div>
                <div class="col-xs-1"></div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10" style="background-color:#FFFFFF;">
                    <center>
                    {% for i in range(image_count) %}
                    <img src="{{image_list[i]}}" width="150px" height="150px">
                    {% if (i+2)%4 == 0%}
                    <br>
                    {% endif %}
                    {% endfor %}
                    </center>
                </div>
                <div class="col-xs-1"></div>
            </div>
        </div>
        <div class="col-xs-12 footer">フッター</div>
    </div>
</div>

{% endblock %}